body {
    text-align: center;
    margin: 0;
    padding: 0;
}
.appointment-link{
    text-decoration: none;
    color: #8E1616;
    font-weight: bold;
}
.appointment-link:hover{
    font-size: 20px;
    transition: 0.7s;
}
.img-blood{
    box-shadow: 1px 1px 5px 1px #666666;
}
.img-blood:hover{
    transition: 0.5s;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px #8E1616;
}
 h1 {
    font-size: 2em;
    margin: 20px 0;
}
.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    margin: 40px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px #666666;        
    background-color: white;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 8px 1px #181717;
    box-sizing: 350px;
    transform: scale(1.1);
}
.card img {
    width: 100%;
    height: 60%;
}
.card-content {
    padding: 15px;
}
.card-content a{
    margin-bottom: 2px;
}
.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}
.card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.card a:hover {
    text-decoration: underline;
}