.h1{
    text-align: center;
    color: #8E1616;
    

}
.heading{
    text-align: center;
     background-color: #8E1616;
     color:#EEEEEE;
     
}
.card{
        width: 300px;
        margin: 40px;
        border: 1px solid hsl(0, 0%, 87%);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1px 1px 5px 1px #666666;        
        background-color: white;
        transition: transform 0.3s ease-in-out;
    }
    .card:hover{
        transition: 0.3s;
        box-shadow: 1px 1px 8px 1px #8E1616;
        box-sizing: 350px;
        transform: scale(1.1);
    }
    .card img {
        width: 300px;
        height: 250px;
    }

    

.btn-view{
    margin-left: 50px;
    background-color:white;
    color:black;
    padding:10px 25px;
    border: 1px   #D84040;
    cursor: pointer;
    border-radius: 0;
    border-width: 5px;
    box-shadow:1px 1px 2px 2px #8E1616;

}
.btn-view:hover {
    background-color:#EEEEEE;
    color: black;
    }

.table-sum h2{
    text-align: center;
    color: #D84040;   
}

td{
    box-shadow: 1px 1px 5px 1px black;
}

tr{
    box-shadow: 1px 1px 5px 1px black;
}

th{
    box-shadow: 1px 1px 5px 1px black;
}
.hover{
    transition: 0.5s;
    box-shadow: 2px 2px 10px 2px #8E1616;
}
.table-container{
    text-align: center;
    margin: auto;
}


.btn-back{
    margin-left: 50px;
    background-color:#8E1616;
    color:black;
    padding:10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border-width: 5px;
    box-shadow: 1px 1px 2px 2px gray;
    border: 3px double whitesmoke;
} 
.btn-back:hover {
    background-color: #8E1616;
    color: #EEEEEE;
    transform: scale(1.1);
}
.arrow-img{
           height: 15px;
            vertical-align: middle;
            margin-right: 6px;
            margin-left: 2px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}
.video-container h3{
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.video-container iframe {
    width: 100%;
    height: 315px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.video-container:hover iframe {
    transform: scale(1.05);
}


.blood-image {
    position: relative;
    display: inline-block;
}

.blood-image:after {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 50px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
}

.blood-image:hover::after {
    opacity: 1;
}
 .blood-h1{
    text-size-adjust: 10px;
    color: #8E1616;
 }

 .blood-p{
    text-align: center;
     background-color: #8E1616;
     color:#EEEEEE;

 }

 .blood-grp h2{
    text-align: center;    
 }

 .blood-grp p{
    text-align: center;
 }
 .blood-grp picture{
    text-align: center;
 }
.home{
    margin-left: 50px;
            background-color: #EEEEEE;
            color:black;
            padding:10px 10px;
            border: 1px #8E1616;
            cursor: pointer;
            border-radius: 0;
            border-width: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.group{
    margin: auto;
    text-align: center;
    vertical-align: middle;
    margin-right: 600px;
    margin-left: 600px;
}



