.main-header {
    text-align: center;
    color:#D84040;
}

.headerimg {
    height: 40px;

}
.description {
    font-size:20px;
}
.btn {
    background-color:#8E1616;
    color:#ffffff;
    margin:auto;
}
.sub-link {
    color:#ffffff;
}