.box{
    border: 0 solid #3e3e3e;  
    border-radius: 20px;
    margin: 1% 30% ;
    padding-right: 50px ;
    display: inline-block;
    width: 500px;
    vertical-align: baseline;
    box-shadow: 0 0  2px 2px  #333333;   
}

.txt{
    text-align: center;
}
.butt{
   margin: 2%;
   border: 2px  solid #000000;
}

.box:hover{
    box-shadow: 0  0 5px 5px #3E7B27;
}