/*
primary color: #D84040;
secondary color: #8E1616;
light: #EEEEEE;
dark: #1D1616;
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    font-family: "Playfair Display", serif;
  }
  
.header-icon{
    height: 40px;
}
.button{
    width: 20%;
    padding: 10px;
    background-color: #D84040;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
    background-color: #3E7B27;
}
.navbar {
    margin: 5px;
    padding: 15px;
    background-color: #EEEEEE;
    box-shadow: 0px 3px 3px #1D1616;
}
.navbar:hover{
    box-shadow: 1px 1px 5px 1px #D84040;
    transition: 0.4s;
}
.nav-menu{
    text-decoration: none;
    color: #D84040;
    font-weight: bold;
    margin: 30px;
}
.nav-menu:hover{
    transition: 0.1s;
    transform: perspective();
    font-weight: bold;
    border-bottom: 2px solid #8E1616;
}
.title-container{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, #e52d27, #b31217);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.title-container:hover{
    transition: 0.5s;
    transform: scale(1.1);
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
